<%- layout("/layouts/bplate.ejs")%>
<body>
    <form action="/user/submit" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="user_name" placeholder="user name">
        <input type="password" name="password" placeholder="password">
        <button>submit</button>
    </form>
</body>