<%- layout("/layouts/bplate.ejs")%>
<body>
    <form action="/listen/submit" method="post">
        <input type="text" name="pic" placeholder="name"><br>
        <input type="text" name="pic_name" placeholder="picture name"><br>
        <input type="number" name="pic_price" placeholder="picture price"><br>
        <textarea name="pic_des">picture description</textarea><br>
        <button>submit</button>
    </form>
</body>